body {
    font-family: Segoe UI;
    margin-top: 10px;
    font-size: 15px;
}
#mytable td {
    width: 80px;
    height: 80px;
    border: 1px solid #aaa;
    text-align: center;
    color: #666;
}